@import "tailwindcss";

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1F2937;
}

#root {
  margin: 0 auto;
}

.card{
  min-width: 400px;
}


